.colaboration-sec {
    padding-top: 25px;
    padding-bottom: 80px;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.colaboration-sec__baner {
    width: calc(50% - 8px);
    height: 680px;
    display: flex;
    justify-content: flex-end;
}

.colaboration-sec__baner-img {
    height: 100%;
    width: auto;
    display: block;
}

.colaboration-sec__text {
    width: calc(50% - 8px);
}

.colaboration-sec__text {
    padding: 0 38px;
}

.colaboration-sec__title {
    font-weight: 550;
    font-size: 38px;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

.colaboration-sec__dop-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin-bottom: 16px;
    opacity: 0.5;
    text-align: center;
}

.colaboration-sec__subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    /* identical to box height, or 17px */
    margin-top: 8px;
    text-align: center;
}

.colaboration-sec__bnt-row {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 32px;
}


.baners-sec {
    padding-bottom: 32px;

    .container {
        display: flex;
        justify-content: space-between;
    }
}

.baners-sec__element {
    width: calc(50% - 8px);
    height: 620px;
    display: block;
}

.baners-sec__element-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.products-sec {
    padding-bottom: 30px;
}

.sec-title {
    font-weight: 550;
    font-size: 21px;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

.sec-title-container__dop-text {
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    /* identical to box height, or 12px */
    color: $greyColor;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.sec-title-container__subtitle {
    padding-top: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    text-align: center;
}

.products-sec_row {
    margin-top: 32px;
}

.product_row {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 16px);
    margin-left: -8px;
}

.product {
    width: calc(20% - 16px);
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product__image_wrapper {
    width: 100%;
    height: 344px;
    position: relative;
    padding: 22px 14px;
    background: #F8F8FA;

    &:hover {
        .add-like {
            opacity: 1;
            transition: all ease 0.3s;
        }
    }
}

.product__image {
    position: relative;
    z-index: 1;
    max-height: 100%;
    max-width: 100%;
    display: block;
}

.add-like {
    position: absolute;
    z-index: 10;
    top: 16px;
    right: 16px;
    width: 24px;
    opacity: 0;
    transition: all ease 0.3s;

    .svg-icon {
        width: 100%;
        height: auto;
        cursor: pointer;

        path {
            transition: all ease 0.3s;
        }
    }
}

.active-like {
    .svg-icon {
        path {
            stroke: $redColor;
        }
    }
}

.product__info {
    padding-top: 16px;
}

.product__title {
    font-weight: 400;
    font-size: 12px;
    line-height: 110%;
    /* or 13px */

    letter-spacing: 0.02em;
    text-transform: uppercase;
}

.product__title-link {
    color: $blackColor;
    transition: all ease 0.3s;

    &:hover {
        color: $redColor;
        transition: all ease 0.3s;
    }
}

.product__price-row {
    margin-top: 8px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.product__text-def {
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    margin-right: 5px;
    font-family: $interFont;
}

.product__main-price {
    color: $blackColor;
}

.product__sale-price {
    color: $redColor;
}

.product__old-price {
    color: $greyColor;
    text-decoration-line: line-through;
}

.single-product-sec {
    padding-bottom: 80px;
}

.single-product-sec__slider {
    position: relative;

    .next-ar_slide {
        right: 0;
        top: calc(50% - 12px);
    }

    .prev-ar_slide {
        left: 0;
        transform: rotate(180deg);
        top: calc(50% - 12px);
    }
}

.ar_slierV2 {
    position: absolute;
    z-index: 20;
    background-image: url('../img/_src/arV2.svg');
    background-size: cover;
    background-position: center;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.single-product-sec__element_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.single-product-sec__img_container {
    width: 470px;
    height: 660px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background: #F8F8FA;
}

.single-product-sec__img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.single-product-sec__info {
    width: 415px;
    margin-left: 48px;

    .sec-title-container__dop-text {
        text-align: left;
    }

    .sec-title {
        text-align: left;
    }

    .sec-title-container__subtitle {
        text-align: left;
    }
}

.single-product-sec__price-row {
    display: flex;
    margin-top: 16px;

    .product__text-def {
        font-weight: 500;
        font-size: 24px;
        line-height: 100%;
        font-family: $interFont;
        margin-right: 10px;
    }
}



.single-product-sec__btn-row {
    display: flex;
    align-items: center;
    margin-top: 32px;

    .add-like {
        position: relative;
        right: auto;
        top: auto;
        margin-left: 30px;
        opacity: 1;
    }
}

.category-sec {
    padding-bottom: 80px;
}

.category-sec__element_row {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 16px);
    margin-left: -8px;
}

.category-sec__element {
    width: calc(33.333% - 16px);
    margin: 0 8px;
}

.category-sec__element-img {
    display: block;
    width: 100%;
    height: 620px;
    overflow: hidden;
}

.category-sec__element-img-element {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: all ease 0.3s;

    &:hover {
        transform: scale(1.1);
        transition: all ease 0.3s;
    }
}

.category-sec__element-info {
    margin-top: 24px;
}

.category-sec__element-subtitle {
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $greyColor;
    text-align: center;
}

.category-sec__element-title {
    text-align: center;
    font-weight: 550;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.02em;
    margin-top: 12px;
    text-transform: uppercase;
}

.category-sec__element-link {
    color: $blackColor;
    transition: all ease 0.3s;

    &:hover {
        color: $redColor;
        transition: all ease 0.3s;
    }

}

.collection-slider-sec {
    padding-bottom: 80px;

    .container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.collection-slider-sec__big-image {
    width: 480px;
    height: 620px;
}

.collection-slider-sec__big-image-element {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.collection-slider-sec__info {
    width: 760px;

    .sec-title-container__dop-text {
        text-align: left;
    }

    .sec-title {
        text-align: left;
    }

    .sec-title-container__subtitle {
        text-align: left;
    }

    .sec-title-container {
        width: 415px;
    }
}

.collection-slider-sec__slider {
    width: calc(100% + 16px);
    margin-left: -8px;
    margin-top: 77px;

    .product {
        margin: 0;
        padding: 0 8px;
    }

    .slick-dots {
        width: auto;
        left: 4px;
        bottom: -36px;
    }
}

.slick-dots li.slick-active button:before {
    width: 0;
    height: 0;
    opacity: 0;
}

.slick-dots li button:before {
    width: 0;
    height: 0;
    opacity: 0;
    content: "";
}

.slick-dots li button {
    width: 4px;
    height: 4px;
    padding: 0;
    background: $greyColor;
}

.slick-dots li.slick-active button {
    background: $blackColor;
}

.slick-dots li {
    width: auto;
    height: auto;
    margin: 0 4px;
    padding: 0;
}

.firm-sec {
    padding-bottom: 30px;
    overflow: hidden;
}

.firm-sec__baner {
    width: 100%;
    height: 620px;
    margin-bottom: 32px;
}

.firm-sec__baner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.firm-sec_row {
    margin-top: 24px;
}

.firm-sec__product_container {
    margin-top: 80px;
}

.category-title {
    font-weight: 550;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.02em;
    text-transform: uppercase;

}

.row-product-sec {
    padding-bottom: 30px;
}

.product-mob-slider {
    display: block;

    .slick-track {
        text-align: left;
        margin-left: 0;
    }

    .product {
        margin-left: 0;
        margin-right: 0;
        padding-left: 8px;
        padding-right: 8px;
    }
}

@media only screen and (max-width: 1320px) {
    .colaboration-sec__baner {
        height: 500px;

    }

    .colaboration-sec__baner-img {
        width: calc(100% + 30px);
        object-fit: cover;
    }

    .colaboration-sec__title {
        font-size: 32px;
    }

    .colaboration-sec {
        padding-bottom: 50px;
    }

    .baners-sec__element {
        height: 500px;
    }

    .single-product-sec__img_container {
        height: 500px;
    }

    .single-product-sec__slider {
        .next-ar_slide {
            right: -24px;
        }

        .prev-ar_slide {
            left: -24px;
        }
    }

    .products-sec {
        padding-bottom: 50px;
        position: relative;
    }

    .single-product-sec {
        padding-bottom: 50px;
    }

    .category-sec__element-img {
        height: 450px;
    }

    .category-sec {
        padding-bottom: 50px;
    }

    .collection-slider-sec__big-image {
        width: 400px;
        height: 550px;
    }

    .collection-slider-sec__info {
        width: calc(100% - 400px);
        padding-left: 30px;
    }

    .collection-slider-sec__slider {
        margin-top: 30px;
    }

    .collection-slider-sec__info .sec-title-container {
        width: 100%;
    }

    .collection-slider-sec {
        padding-bottom: 50px;
    }

    .firm-sec__baner {
        height: 500px;
    }

    .firm-sec__product_container {
        margin-top: 50px;
    }

    .product-mob-slider {
        width: calc(100% + 16px);
        margin-left: -8px;

        .product {
            margin: 0;
            padding: 0 8px;
        }
    }

    .firm-sec {
        padding-bottom: 50px;
    }
}

@media only screen and (max-width: 1000px) {
    .colaboration-sec__baner {
        height: 400px;
    }

    .colaboration-sec__text {
        padding-left: 0;
        padding-right: 0;
    }

    .colaboration-sec__title {
        font-size: 28px;
    }

    .colaboration-sec {
        padding-bottom: 16px;
    }

    .baners-sec__element {
        height: 400px;
    }

    .add-like {
        opacity: 1;
    }

    .single-product-sec__info {
        margin-left: 30px;
    }

    .single-product-sec__img_container {
        width: calc(50%);
        height: 450px;
    }

    .single-product-sec__info {
        margin-left: 0;
        padding-left: 30px;
        width: 50%;
    }

    .category-sec__element-img {
        height: 330px;
    }

    .firm-sec__baner {
        height: 400px;
    }

    .collection-slider-sec .container {
        flex-wrap: wrap;
    }

    .collection-slider-sec__big-image {
        width: 100%;
        height: 400px;
    }

    .collection-slider-sec__info {
        padding-left: 0;
        padding-top: 40px;
        width: 100%;
    }

    .collection-slider-sec__slider .slick-dots {
        width: 100%;
        left: 0;
    }

    .collection-slider-sec__info {
        .sec-title-container__dop-text {
            text-align: center;
        }

        .sec-title {
            text-align: center;
        }

        .sec-title-container__subtitle {
            text-align: center;
        }
    }
}

@media only screen and (max-width: 700px) {
    .colaboration-sec .container {
        flex-wrap: wrap;
    }

    .colaboration-sec__baner {
        height: 360px;
        width: calc(100% + 40px);
        margin-left: -20px;
        display: block;
    }

    .colaboration-sec__baner-img {
        width: calc(100% + 40px);
    }

    .colaboration-sec__text {
        width: 100%;
        margin-top: 32px;
    }

    .colaboration-sec__title {
        font-size: 21px;
        line-height: 100%;
    }

    .colaboration-sec__bnt-row {
        margin-top: 24px;

        .btnV1 {
            width: 100%;
            text-align: center;
            padding-left: 0;
            padding-right: 0;
        }
    }

    .baners-sec .container {
        flex-wrap: wrap;
    }

    .colaboration-sec {
        padding-bottom: 48px;
    }

    .baners-sec__element {
        width: 100%;
        height: 355px;
        margin-bottom: 0;

        &:last-child {
            display: none;
        }
    }

    .sec-title {
        font-size: 18px;
        line-height: 100%;
    }

    .sec-title-container__dop-text {
        font-weight: 400;
        font-size: 12px;
        line-height: 100%;
        margin-bottom: 12px;
    }

    .sec-title-container__subtitle {
        font-weight: 400;
        font-size: 14px;
        line-height: 120%;
    }

    .product_row {
        margin-top: 32px;
    }

    .product-mob-slider {
        width: calc(100% + 95px + 16px);
        margin-left: -95px;

        .slick-dots {
            width: calc(100% - 107px - 4px - 40px);
            margin-left: calc(95px + 20px);
        }

        &:before {
            width: 20px;
            position: absolute;
            z-index: 10;
            content: "";
            left: 95px;
            top: 0;
            background: $whiteColor;
            height: 100%;
        }
    }

    .slick-dots li.slick-active button:before {
        width: 0;
        height: 0;
        opacity: 0;
    }

    .slick-dots li button:before {
        width: 0;
        height: 0;
        opacity: 0;
        content: "";
    }

    .slick-dots li button {
        width: 100%;
        height: 100%;
        padding: 0;
        background: $greyColor;
    }

    .slick-dots li.slick-active button {
        background: $blackColor;
    }

    .slick-dots li {
        width: 100%;
        height: 2px;
        padding: 0;
        margin: 0;

    }

    .slick-dots {
        display: flex;

    }



    .product__image_wrapper {
        height: 320px;
    }

    .single-product-sec__element_wrapper {
        flex-wrap: wrap;
    }

    .single-product-sec__img_container {
        width: 100%;
        height: 470px;
    }

    .single-product-sec__info {
        width: 100%;
        padding-left: 0;
        padding-top: 24px;
    }

    .single-product-sec__info .sec-title-container__subtitle {
        display: none;
    }

    .single-product-sec__price-row {
        margin-top: 16px;

        .product__text-def {
            font-weight: 500;
            font-size: 18px;
            line-height: 100%;
        }
    }

    .single-product-sec__btn-row {
        margin-top: 16px;
    }

    .single-product-sec__btn-row .add-like {
        margin-left: 16px;
    }

    .category-sec__element_row {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-left: 0;
    }

    .category-sec__element {
        width: 100%;
        margin: 0 0 24px 0;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .category-sec__element-img {
        height: 420px;
    }

    .category-sec__element-title {
        font-size: 18px;
        margin-top: 8px;
    }

    .collection-slider-sec__big-image {
        height: 470px;
    }

    .collection-slider-sec__info {
        padding-top: 32px;
    }

    .collection-slider-sec__slider {
        margin-top: 32px;
    }

    .collection-slider-sec__slider_wrapper {
        width: calc(100% + 40px);
        margin-left: -20px;
        position: relative;


        .collection-slider-sec__slider {
            width: calc(100% + 95px + 16px);
            margin-left: -95px;

            .slick-dots {
                width: calc(100% - 107px - 4px - 40px);
                margin-left: calc(95px + 20px);
            }

            &:before {
                width: 20px;
                position: absolute;
                z-index: 10;
                content: "";
                left: 95px;
                top: 0;
                background: $whiteColor;
                height: 100%;
            }
        }
    }

    .firm-sec__baner {
        height: 420px;
        margin-bottom: 24px;
    }

    .firm-sec__product_container {
        margin-top: 48px;
    }

}