* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}
}

body::-webkit-scrollbar {
	width: 3px;
}

body::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
	background-color: darkgrey;
	outline: 1px solid slategrey;
}


.list__element {
	list-style-type: none;
}

.list {
	margin-bottom: 0;
}

.btn {
	font-family: $mainFont;
	cursor: pointer;
	outline: 0 none !important;
}

.input-element {
	outline: 0 none !important;
	font-family: $mainFont;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.app {
	overflow: hidden;
	min-width: 260px;
	background: $whiteColor;
	font-family: $mainFont;
	color: $blackColor;
}

.container {
	width: 1280px;
	margin: 0 auto;
}

.main {
	padding-top: 202px;
	min-height: calc(100vh - 104px);
}

.hide-page {
	position: relative;

	&:before {
		width: 100%;
		height: 100vh;
		position: fixed;
		z-index: 1000;
		left: 0;
		top: 0;
		background: $blackColor;
		opacity: 0.5;
		content: "";
		position: fixed;
	}
}



@media only screen and (max-width: 1320px) {
	.container {
		width: 100%;
		padding-left: 30px;
		padding-right: 30px;
	}
}

@media only screen and (max-width: 1000px) {
	.container {
		width: 100%;
		padding-left: 20px;
		padding-right: 20px;
	}

	.main {
		padding-top: 95px;
	}
}

@media only screen and (max-width: 700px) {}